html, body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

#control-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    min-width: 200px;
    background: gray;
    overflow-y: auto;
    scrollbar-width: none;
}

#info-panel {
    display: flex;
    height: 100%;
    min-width: 20%;
    width: 85%;
    background: green;
}

#info-header {
    width: 100%;
    height: 10%;
    background: blanchedalmond;
}

.iot-device {
    margin: 10px 0 0 0;
    height: 10%;
    min-height: 10%;
}